<div class="container">
<div class="row">

    <div class="col-xs-3">
      <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Profile Information</h2>
          </div>
        <div class="panel-body">
            <%= @user.name %></BR>
            <%= @user.email %>
        </div>
      </div>
    </div>

  <div class="col-xs-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Reservations</h2>
      </div>
      <div class="panel-body">
          <% @user.reservations.order(created_at: :desc).each do |reservation| %>
            <ul>
              <li><strong><%= reservation.restaurant.name %></strong></li>
                  Booking: <%= reservation.formatted_time %></br>
                  Party Size: <%= reservation.party_size %></br>
            </ul>
          <% end %>
      </div>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">Reviews</h2>
      </div>
      <div class="panel-body">
         <% @user.reviews.order(created_at: :desc).each do |review| %>
       <ul>
         <li><em>Review for restaurant: </em><%= review.restaurant.name %></li>
           <em>Review comment: </em> <%= review.comment %><br/>
           <%= link_to 'edit comment', edit_restaurant_review_path(review.restaurant_id, review.id) %>
       </ul>
       <% end %>
     </div>
    </div>
  </div>

</div>
</div>
