<% if @reservation.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this product from being saved:</h2>

     <ul>
     <% @reservation.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
 <% end %>

<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Reservation Info</h3>
    </div>
    <div class="panel-body">
      <% if current_user %>

      <%= form_for ([@restaurant, @reservation]) do |i| %>

        <!-- <div class="field">
          <%= i.label :time %><br/>
          <%= i.text_field :time %>
        </div> -->

        <div class="field">
         <%= i.label :time %><br/>
         <%= i.datetime_local_field :time %>
        </div>

        <div class="field">
          <%= i.label :party_size %><br/>
          <%= i.number_field :party_size %>
        </div>

        <div class="action">
          <%= i.submit "Create Reservation" %>
        </div>
      <% end %>

      <% else %>
        <p>Please <%= link_to "log in", new_session_path %> to create a reservation</p>
      <% end %>

    </div>
  </div>
</div>

<div class="col-xs-5">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= @restaurant.name %></h3>
    </div>

    <div class="panel-body">
      <p><%= image_tag @restaurant.photo, {size: "400"} %></p>
      <p>Available capacity:<p> <%= @restaurant.capacity %>
    </div>
  </div>
</div>

<!-- Adding a Reviews section -->
<!-- First: Display -->

<div class="col-xs-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Reviews for <%= @restaurant.name %></h3>
    </div>
    <div class="panel-body">
 <% @restaurant.reviews.reverse.each do |review| %>
   <% if review.user != nil %>
   <p><%= review.comment %>
     <br>
     <em> by <%= review.user.name %></em>
     Added on: <%= review.created_at %>
     <br>
   </p>
   <% end %>
 <% end %>

<!-- Second: Add new reivew -->

 <% if current_user %>
  <br>
   <h4>Write a review</h4>

   <%= form_for([@restaurant, @review]) do |f| %>
     <% if @review.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

         <ul>
         <% @review.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
         </ul>
       </div>
     <% end %>

     <div class="field">
       <%= f.label :comment %><br />
       <%= f.text_area :comment %>
     </div>
     <div class="actions">
       <%= f.submit "Post review" %>
     </div>
   <% end %>

   <% else %>
     <p>Please <%= link_to "log in", new_session_path %> to add a review</p>
   <% end %>

    </div>
  </div>
</div>
